@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-montserrat {
    font-family: "Montserrat", sans-serif; 
  }
}

*{
  margin: 0px;
}
body{
  background-image: url("/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-loading-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75); /* Semi-transparent background */
  z-index: 9999; /* High z-index to ensure it sits above other content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #efb961; /* Text color */
}
